.App {
  text-align: center;
  background-color: goldenrod;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.available-courses{
  border:3px dotted goldenrod;
  margin-top: 0;
  padding: 10px;
  font-style: oblique;
  width:70%;
  margin-left:200px;
  background-color: #343a40;
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
